<div id="header">

      <div id="logo">
      </div>
      <div id="supports">
       <% if(thisPlayer.supports.audience) { %>
        <img  src="/images/support-1.png" />
        <% } else { %>
        <img  class="disable" src="/images/support-1.png" />

        <% }%>
        <% if(thisPlayer.supports.fifty_fifty) { %>
        <img  src="/images/support-2.png" />
        <% } else { %>
        <img  class="disable" src="/images/support-2.png" />
        <% }%>
        <% if(thisPlayer.supports.relative) { %>
        <img src="/images/support-3.png" />
        <% } else { %>
        <img class="disable" src="/images/support-3.png" />
        <% }%>
        <img id="toggle-score" src="/images/toggle.png" style="margin-left:5px" height="52" width="52"/>
      <img id="logout-btn" src="/images/icon-logout.png" style="margin-left:13px" height="52" width="52" />

      </div>
<div id="clock"></div>
</div>
<div id="player-regis-wrapper">

<h2 class="help" style="margin-top:10px;">Khán giả</h2>
<input type="hidden" id="roomId" value="<%= thisPlayer.isInRoom %>"/>
<% if(typeof thisPlayer !== 'undefined') { %>
    <input id="thisPlayer" type="hidden" value="<%= thisPlayer.id %>"/>
    <% } %>
<input type="hidden" id="audience_survey_time" value="<%= audience_survey_time %>">
</div>
  <div id="qa-wrapper" class="qa-parts choosing-player-qa" style="margin-top:10px">
      <div class="q-line"></div>
      <div class="question-wrapper">
        <div class="question-holder" data-value="<%= quizOrder %>">
            <%- quiz.question %>
        </div>
      </div>

        <div class="q-line l1"></div>
        <div class="q-line l2"></div>
      <div class="answer-wrapper">
        <div class="answer-holder left ans-1 series-ans"  data-value="<%= quiz.answer[0]%>" data-ansNum="1"><span>A. <%- quiz.answer[0] %></span><div class="order"></div></div>
        <div class="answer-holder right ans-2 series-ans"  data-value="<%= quiz.answer[1]%>" data-ansNum="2"><span>B. <%-quiz.answer[1] %></span><div class="order"></div></div>
        <div class="answer-holder left ans-3 series-ans"  data-value="<%= quiz.answer[2]%>" data-ansNum="3"><span>C. <%-quiz.answer[2] %> </span><div class="order"></div></div>
        <div class="answer-holder right ans-4 series-ans"  data-value="<%= quiz.answer[3]%>" data-ansNum="4"><span>D. <%-quiz.answer[3] %></span><div class="order"></div></div>
      </div>
      <div class="clearfix"></div>
</div>
<div id="scoreboard" class="money-levels-wrapper qa-parts hide">
      <ul class="money-levels-list">
        <li class="base"><div class="q_num">15</div><div style="color:#DAA520" class="price">150.000.000 VNĐ</div></li>
        <li><div class="q_num">14</div><div class="price">85.000.000  VNĐ</div></li>
        <li><div class="q_num">13</div><div class="price">60.000.000 VNĐ</div></li>
        <li><div class="q_num">12</div><div class="price">40.000.000 VNĐ</div></li>
        <li><div class="q_num">11</div><div class="price">30.000.000 VNĐ</div></li>
        <li class="base"><div class="q_num">10</div><div style="color:#DAA520" class="price">22.000.000 VNĐ</div></li>
        <li><div class="q_num">9</div><div class="price">14.000.000 VNĐ</div></li>
        <li><div class="q_num">8</div><div class="price">10.000.000 VNĐ</div></li>
        <li><div class="q_num">7</div><div class="price">6.000.000 VNĐ</div></li>
        <li><div class="q_num">6</div><div class="price">3.000.000 VNĐ</div></li>
        <li class="base"><div class="q_num">5</div><div style="color:#DAA520"class="price">2.000.000 VNĐ</div></li>
        <li class=""><div class="q_num">4</div><div class="price">1.000.000 VNĐ</div></li>
        <li class=""><div class="q_num">3</div><div class="price">600.000 VNĐ</div></li>
        <li class=""><div class="q_num">2</div><div class="price">400.000 VNĐ</div></li>
        <li class="active"><div class="q_num">1</div><div class="price">200.000 VNĐ</div></li>
      </ul>
    </div>

    <!------------ result -------------->
    <div id="result-wrapper" class="hide">
      <h2 class="help" style="font-family:times-new-romance;margin-top:30px;font-size:50px;border-bottom:1px dashed #eee;padding:20px;">KẾT QUẢ</h2>

        <h2 class="help"  style="margin-top:30px">Số câu trả lời đúng</h2>
        <div class="q-wrapper">
          <div class="result-info disable">15</div>
        </div>

      <h2 class="help" style="margin-top:30px">Tổng số tiền kiếm được</h2>
        <div class="q-wrapper">
          <div class="result-info highlight">150.000.000 VNĐ</div>
        </div>


    </div>
    <div class="modal fade" id="barchart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Khảo sát từ khán giả</h4>
      </div>
      <div class="modal-body">
        <canvas id="barchart" width="480" height="480"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div id="ads-screen-cover"></div>
<div id="ads-wrapper">
  <h2 class='title'> QUẢNG CÁO</h2>
  <div id="ads-holder">

  </div>
</div>
